* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pantalla-1,
.pantalla-2 {
    min-width: 400px;
    height: 100vh;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pantalla-1 img,
.pantalla-2 img {
    width: 350px;    
}

.pantalla-1 h1,
.pantalla-2 h2 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}

.pantalla-1 h3 {
    color: #fff;
    font-weight: 300;
}

.pantalla-2 {
    background-color: rgb(25, 25, 78);
    height: fit-content;
}

.pantalla-2 img {
    margin-top: 30px;
}

.pantalla-3 {
    min-width: 400px;
    height: 150vh;
    background-color: rgb(25, 25, 78);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;    
}

.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;     
    color: #fff;
    padding-bottom: 50px;    
}
